.TabsTrigger_chat[data-state='active'] {

    border-radius: 50px;
    /* padding: 0.6rem 0.4rem; */
    background-color: #253243;
    color: #fff;
    overflow: hidden;
  }

  .ScrollArea{
    position: relative;
    height: 18.6vh; /* Adjust thvhe height as needed, minus the height of the chat-writing-box */
    
  }

  .chat-writing-box {
    position: absolute;
    bottom: 50px;
    height: 40px; /* Set a fixed height for the writing box */
  }