@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.DialogOverlays {
    background-color: var(--black-a9);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .DialogContents {
    background-color: #0d131c;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 510px;
    /* max-height: 85vh; */
    /* padding: 25px; */
    color: #93acd3;
    border-radius: 8px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .DialogContents:focus {
    outline: none;
  }
  
  .DialogTitles {
    margin: 0;
    font-weight: 500;
    /* color: var(--mauve-12); */
    font-size: 17px;
  }
  
  .DialogDescriptions {
    margin: 10px 0 20px;
    /* color: var(--mauve-11); */
    font-size: 15px;
    line-height: 1.5;
  }
  
  .Buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
    background-color: rgb(34, 174, 34);
    color: #fff;
    width: 100%;
  }
 
  .Buttons.green:hover {
    opacity: 0.8;
    /* background-color: var(--mauve-3); */
  }
  /* .Button.green:focus {
    box-shadow: 0 0 0 2px black;
  } */
  /* .Buttons.green {
    background-color: var(--green-4);
    color: var(--green-11);
  } */
  .Buttons.green:hover {
    /* background-color: var(--green-5); */
  }
  /* .Buttons.green:focus {
    box-shadow: 0 0 0 2px var(--green-7);
  } */

  .IconButtons {
    font-family: inherit;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* color: var(--violet-11); */
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0d131c;
  }
  .IconButtons:hover {
    /* background-color: var(--violet-4); */
  }
  .IconButtons:focus {
    box-shadow: 0 0 0 2px var(--violet-7);
  }

  .steps-main{
    list-style-type: circle;
  
  }

  .steps-main li::marker{
    color: rgb(57, 255, 57);
  }





  .popDetail-main{
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 1rem;
    background-color: #151e2c;
  }