@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  background-color: #0d131c !important;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (min-width:1921px){
  body{
    max-width: 1920px;
    margin: 0 auto;
  }
}

hr{
  border-color: #253243;
}

.secret-keys-text{
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}


@media only screen and (max-width:650px){
  .table-cell-time,.table-cell-users{
    display: none;
  }
}

.height-content{
  height: calc(100vh - 50px)
}

@media only screen and (max-width:650px){
  .height-content{
    height: calc(100vh - 144px)
  }


  
}

.height-content_chat{
  height: 77.5vh;
}

.active-menu{
  color: rgb(0, 255, 89);
}


td, th {
  text-align: left;
  padding: 8px;
}

